[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradienttracer = {git = "https://github.com/sk-ai-net/gradienttracer.git"}
gguf = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
